In [11]:
import pandas as pd
import numpy as np

purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df = df.set_index([df.index,'Name'])
df.index.names = ['Location', 'Name']
print(df) 
df =df.append(pd.Series(data = {'Item Purchased' : 'Kitty Food', 'Cost' : 3.00}, name = ('Store 2','Kevyn')))
df

               Item Purchased  Cost
Location Name
Store 1  Chris       Dog Food  22.5
         Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

               Item Purchased  Cost
Location Name
Store 1  Chris       Dog Food  22.5
         Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0
         Kevyn     Kitty Food   3.0